.app {
  margin: 0 auto;
  padding: 24px;
  max-width: 900px;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  border: 2px solid lightgrey;
  border-radius: 24px;
}

header {
  background: linear-gradient(135deg, purple, #141d38);
  padding: 20px;
  border-radius: 24px;
  text-align: center;
}

header h1 {
  color: #fcdb32;
  font-size: 2.5rem;
}

header p {
  font-size: 1.1rem;
  color: whitesmoke;
  font-style: italic;
  letter-spacing: 3px;
  opacity: 0.8;
}

.line {
  width: 100%;
  height: 1px;
  background: linear-gradient(135deg, purple, #141d38);
  margin-top: 24px;
  border-radius: 12px;
  opacity: 0.2;
}

/* Expense form */
.top-group {
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.top-group label {
  display: block;
  font-weight: bold;
  color: #acacac;
}

.top-group input,
select {
  padding: 12px;
  border-radius: 14px;
  border: 2px solid lightgrey;
  font-size: 1rem;
  margin-top: 5px;
  box-sizing: border-box;
  width: 220px;
}

.bottom-group {
  margin-top: 24px;
}

.add-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  background: #141d38;
  border: none;
  color: #fcdb32;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-btn:disabled {
  cursor: not-allowed;
  background: gray;
}

.add-btn:not(:disabled):hover {
  background: linear-gradient(135deg, purple, #141d38);
}

/* Expense card */

.empty-state {
  display: flex;
  justify-content: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: #acacac;
}

.expenses-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(200px, 100%/3), 1fr));
  gap: 16px;
}

.expenses-grid {
  margin-top: 24px;
}

.expense-card {
  display: flex;
  justify-content: space-between;
  border: 1px solid #3447aa;
  background: white;
  padding: 12px;
  border-radius: 12px;
}

.expense-left-part {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.desc {
  font-weight: bold;
  color: #141d38;
  font-size: 1.1rem;
}

.category {
  background-color: #3447aa;
  color: #ffeef4;
  padding: 4px 12px;
  width: fit-content;
  border-radius: 14px;
  font-size: small;
}

.date {
  opacity: 0.5;
  color: #141d38;
  font-style: italic;
}

.expense-right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.amount {
  font-weight: bold;
  font-size: 1.8rem;
  color: #3447aa;
}

.delete-btn {
  padding: 6px 16px;
  border-radius: 8px;
  background: rgb(255, 218, 218);
  color: crimson;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.delete-btn:hover{
  background: crimson;
  color: white;
}

/* Total expenses */
.summary {
  background: linear-gradient(135deg, purple, #141d38);
  text-align: center;
  padding: 24px;
  border-radius: 24px;
  margin-top: 24px;
}

.summary p {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #ffeef4;
}

.total-amount {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fcdb32;
}

.footer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.clear-storage, .clear-btn {
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  background: lightgrey;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.clear-storage:hover, .clear-btn:hover{
  background: #acacac;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 1.2rem;
  }

  header p {
    font-size: 0.6rem;
  }

  .top-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  .top-group label {
    font-size: 0.8rem;
  }

  .top-group input,
  select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    font-size: 0.8rem;
    width: 100%;
  }

  .add-btn{
    font-size: 0.8rem;
  }

  .summary{
    padding: 16px;
  } 

  .summary p{
    font-size: 0.8rem;
  }

  .total-amount{
    font-size: 1.8rem;
  }

  .clear-storage{
    font-size: x-small;
  }
}
