.app {
  margin: 0;
  max-width: 100vw;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  box-sizing: border-box;
  border-radius: 24px;
}

header {
  background: linear-gradient(135deg, purple, #141d38);
  padding: 16px;
  border-radius: 24px;
  text-align: center;
}

header h1 {
  color: #fcdb32;
  font-size: 2.5rem;
}

header p {
  font-size: 1.1rem;
  color: whitesmoke;
  font-style: italic;
  letter-spacing: 3px;
  opacity: 0.8;
}

.line {
  width: 100%;
  height: 1px;
  background: linear-gradient(135deg, purple, #141d38);
  margin-top: 24px;
  border-radius: 12px;
  opacity: 0.2;
}

.main {
  display: flex;
  gap: 32px;
  align-items: flex-start;
}

.sidebar {
  max-width: 360px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid lightgrey;
}

.content {
  margin-top: 20px;
}

.search-group {
  display: flex;
  justify-content: space-between;
}

.filters-group {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

/* Expense form */
.top-group {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group label {
  display: block;
  font-weight: bold;
  color: #acacac;
}

.input-group {
  width: 100%;
}
 
.input-group input,
.input-group select {
  padding: 12px;
  border-radius: 14px;
  border: 2px solid lightgrey;
  font-size: 1rem;
  margin-top: 5px;
  box-sizing: border-box;
  width: 100%;
}

.bottom-group {
  margin-top: 24px;
  margin-left: 16px;
}

.add-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  background: #141d38;
  border: none;
  color: #fcdb32;
  font-weight: bold;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background 0.3s ease;
}

.add-btn:disabled {
  cursor: not-allowed;
  background: gray;
}

.add-btn:not(:disabled):hover {
  background: linear-gradient(135deg, purple, #141d38);
}

/* Expense card */

.empty-state {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: #acacac;
}

.expenses-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  margin-top: 24px;
}

.expense-card {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 12px;
  border-radius: 12px;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.2s ease;
  width: 100%;
  box-sizing: border-box;
}

.expense-card.food {
  border-left: 4px solid #f59e0b;
}

.expense-card.travel {
  border-left: 4px solid #3b82f6;
}

.expense-card.shopping {
  border-left: 4px solid #ec4899;
}

.expense-card.bill {
  border-left: 4px solid #000000;
}

.expense-card.entertainment {
  border-left: 4px solid #10b981;
}

.expense-card.other {
  border-left: 4px solid #6b7280;
}

.expense-card:hover {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.expense-left-part {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.desc {
  font-weight: bold;
  color: #141d38;
  font-size: 1.1rem;
}

.category {
  color: #ffeef4;
  padding: 4px 12px;
  width: fit-content;
  border-radius: 14px;
  font-size: small;
}

.category.food {
  background-color: #f59e0b;
}
.category.travel {
  background-color: #3b82f6;
}
.category.shopping {
  background-color: #ec4899;
}
.category.entertainment {
  background-color: #10b981;
}
.category.bill {
  background-color: #000000;
}
.category.other {
  background-color: #6b7280;
}

.date {
  opacity: 0.5;
  color: #141d38;
  font-style: italic;
}

.expense-right-part {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.amount {
  font-weight: bold;
  font-size: 1.8rem;
  color: #3447aa;
}

.btn-group {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.edit-btn {
  padding: 6px 16px;
  border-radius: 8px;
  background: rgb(223, 223, 223);
  color: #3a3a3a;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.edit-btn:hover {
  background: #3a3a3a;
  color: rgb(223, 223, 223);
}

.save-btn {
  padding: 6px 16px;
  border-radius: 8px;
  background-color: rgb(192, 248, 192);
  color: green;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.save-btn:hover {
  background: green;
  color: white;
}

.delete-btn {
  padding: 6px 16px;
  border-radius: 8px;
  background: rgb(255, 218, 218);
  color: crimson;
  border: none;
  font-size: 0.8rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.delete-btn:hover {
  background: crimson;
  color: white;
}

/* Edit card inputs */
.edit-input,
.edit-select {
  padding: 6px;
  border-radius: 10px;
  border: 1px solid lightgrey;
  font-size: 0.9rem;
  max-width: 100px;
}

/* Total expenses */
.summary {
  background: linear-gradient(135deg, purple, #141d38);
  text-align: center;
  padding: 24px;
  border-radius: 24px;
  margin-top: 24px;
}

.summary p {
  font-size: 1.1rem;
  letter-spacing: 2px;
  color: #ffeef4;
}

.total-amount {
  font-size: 2.5rem;
  font-weight: bold;
  color: #fcdb32;
}

.footer {
  margin-top: 24px;
  display: flex;
  justify-content: center;
}

.clear-storage,
.clear-btn {
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  background: lightgrey;
  font-size: small;
  font-weight: 600;
  cursor: pointer;
}

.clear-storage:hover,
.clear-btn:hover {
  background: #acacac;
}

@media (max-width: 768px) {

  .app {
    padding: 16px;
  }
  .main {
    display: flex;
    flex-direction: column;
    pad: 12px;
  }

  .sidebar {
    width: 100%;
    padding: 0;
    border-right: none;
    max-width: 100%;
  }

  .content {
    margin-top: 0;
    width: 100%;
  }

  header h1 {
    font-size: 1.2rem;
  }

  header p {
    font-size: 0.6rem;
  }

  .search-group {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .filters-group {
    display: flex;
    flex-direction: column;
  }

  .expenses-grid {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .desc {
    font-size: 12px;
  }

  .category {
    font-size: 12px;
  }

  .date {
    font-size: 12px;
  }

  .amount {
    font-size: 1.3rem;
  }

  .delete-btn {
    font-size: 12px;
  }

  .top-group {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 16px;
  }

  .input-group label {
    font-size: 0.8rem;
  }


  .input-group input,
  .input-group select {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid lightgrey;
    font-size: 0.8rem;
    width: 100%;
  }

  .add-btn {
    font-size: 0.8rem;
  }

  .summary {
    padding: 16px;
  }

  .summary p {
    font-size: 0.8rem;
  }

  .total-amount {
    font-size: 1.8rem;
  }

  .clear-storage {
    font-size: x-small;
  }
}
